language: go
os: linux
dist: bionic

env:
  global:
    - IMAGE_REPO=localhost:5000 REGISTRY=localhost:5000
go:
  - "1.14"
go_import_path: github.com/GoogleContainerTools/kaniko
jobs:
  include:
    - name: unit-test
      script:
        - make test
    - name: integration-test-run
      before_install:
        - make travis-setup
      script:
        - make integration-test-run
    - name: integration-test-layers
      before_install:
        - make travis-setup
      script:
        - make integration-test-layers
    - name: build-image-and-k8s-integration-test
      before_install:
        - make travis-setup
        - make minikube-setup
      script:
        - make images
        - make push
        - make integration-test-k8s
    - name: integration-test-misc
      before_install:
        - make travis-setup
      script:
        - make integration-test-misc

